{% extends "index.html.twig" %}
{% block title %}News Feeds{% endblock%}
{% block content %}
    <script>
        navigation('nav_newsfeeds');
    </script>
    <div  class="page_container">
    </script> 
    <style>
        #newsfeeds{
            background-color: blanchedalmond;
            //background-image: url("http://www.housingoffice.nl/documents/news.jpg");
    }
    </style>
    <div id="newsfeeds" class="page_container">
        {{render(controller('CustomerBundle:Categories:list', {'categoryId' : app.request.get('categoryId')})) }}
        {% include "CustomerBundle:Newsfeed:list.html.twig" with newsfeeds%}       
    </div>
{% endblock %}  
