{% extends "index.html.twig" %}
{% block title %}Shoes{% endblock%}
{% block content %}
    <script>
        navigation('nav_shoes');
    </script> 
    <h1>Shoe page</h1>
    <div class="page_container">
        {% render "/categories/list" %}
        {% include "CustomerBundle:Shoes:list.html.twig" %}       
    </div>
{% endblock %}  
    
