{% extends "index.html.twig" %}
{% block title %}Shoes{% endblock%}
{% block content %}
    <script>
        navigation('nav_shoes');
    </script> 
    <div class="page_container">
        {% render "/categories/list?categoryId=" ~ app.request.get('categoryId')%}
        {% include "CustomerBundle:Shoes:list.html.twig" %}       
    </div>
{% endblock %}  
    
