{% extends "index.html.twig" %}
{% block title %}Edit shoe{% endblock%}
{% block content %}
    <script>
        navigation('nav_shoes');
    </script> 
    {{ form(form) }}
    <div>
        <span>Image</span><br/>
        {%if shoe.extension!=null and shoe.fullFileName != null%}
            <img src="{{ asset('images/uploads/')}}{{shoe.fullFileName}}"/>
        {%endif%}
    </div>
{% endblock %}