{% extends "index.html.twig" %}
{% block title %}Edit shoe{% endblock%}
{% block content %}
    <script>
        navigation('nav_shoes');
    </script> 
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary"> 
            <a href="{{ path('_shoes') }}">
                Back
            </a>
        </button>           
        
    </div>
    {{ form(edit_form) }}
    <div>
        <span>Image</span><br/>
        {%if entity.extension!=null and entity.fullFileName != null%}
            <img src="{{ asset('images/uploads/')}}{{entity.fullFileName}}"/>
        {%endif%}
    </div>
{% endblock %}