{% extends "index.html.twig" %}
{% block title %}Shoes{% endblock%}
{% block javascripts %}
    <script src="{{ asset('js/star-rating.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/star-rating.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <script>
        navigation('nav_shoes');
    </script> 
    <div class="page_container">
        {{render(controller('CustomerBundle:Categories:list', {'categoryId' : app.request.get('categoryId')})) }}
        {% include "CustomerBundle:Shoes:list.html.twig" with shoes%}       
    </div>
{% endblock %}  
