<a href="{{path('_gallery', {'id': gallery.hashId})}}">
    <div class="gallery_fence">
        <div class="fence_image">
            <img src="/image" alt="no image"/>
            <div class="fence_rate">
                <div>
                    <span class="fence_views glyphicon glyphicon-eye-open" style="padding-left: 4px">
                    </span>
                        3,565
                    <span class="fence_likes glyphicon glyphicon-thumbs-up" >
                    </span>
                        67
                    <span class="fence_shares glyphicon glyphicon-share">
                    </span>
                        78
                </div>
            </div>
        </div>    
        <div class="fence_text">
            <span class="fence_gallery_title glyphicon">{{gallery.name}}</span><br/>
            <span class="fence_gallery_descr">{{gallery.description}}</span>        
        </div>    
    </div>
</a>


