{% extends "index.html.twig" %}
{% block stylesheets %}
   {% stylesheets '@ArtistBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}  
{% block content %}
    Galleries
    
    
    <div id="galleries_grid">
        
    {% for gallery in galleries %}
        {% include 'ArtistBundle:Gallery:gallery_fence.html.twig' with {'gallery': gallery} %}
    {% endfor %}
    </div>
{% endblock %}  
    
    
