body{
	width: 100%;
	margin:0px;
	line-height: 1;
	padding: 0px;
	background-color: lightgreen;	
}

#header{
	background-color: darkgreen;
	height: 35px;
}

#header ul{
	font-weight: bold;
	padding-top: 9px;
}

#header li{
	display: inline;	
	padding-right:10px;	
}

#content{
	margin: 10px;
}
