/* 
    Created on : Oct 3, 2014, 12:22:36 AM
    Author     : rommen
*/
body{
    background-color: #192E41;
}

/*=========Header===================*/

#top-navigation, #top-navigation *{
    background-color:#202229;  
    color: white;    
    border-bottom-color: #0580B0;
    border-top-width: 0px;
    border-bottom-width: 3px;
}

#logo{
   color:#0580B0;
   font-size: 13pt;
   font-family: Arial;
}
/*=========Content===================*/

#content{
    height:100%;
    
    color: #ABABAD;
    margin-left:50px;
    margin-right:50px;
}

/*=========Footer===================*/
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 27px;
    
    color: #ABABAD;
    background-color:#202229; 
    
    border-top-color: #0580B0;
    border-top-width: 3px;    
}

#footer *{
    height: 100%;
    vertical-align: middle;
    font-size: 10pt;
}

#footer div{
    margin-right: 25px;
    margin-top: 5px;
}
#footer img{
    height:15px;    
    margin-right:4px;
}

