body{
    height:100%;
    line-height: 1;
}

#footer{
    height: 20px;
    background-color: #1b1b1b;
    float:bottom;
    color:white;
    margin-top: 10px;
    padding-top: 2px;
    font-size: 10pt;
}
#content-container{
    padding-left: 20px;
    padding-right: 20px;
}

#content-container-home{
    top: -60px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
#content{
    height: 100%;
    width:100%;
    background-color: #F1F0F6;
    margin-top: 77px;
    padding: 20px 25px;
}

.page_container{

}
.page_container div.left{
    float:left;    
}
.clear{
    clear: both;    
}

.share_twitter{
    margin-right:7px;
}
.share_twitter, share_facebook{
    float:left;
}

