{% extends "index.html.twig" %}
{% block title %}user edit{% endblock%}
{% block content %}
    <script>
        navigation('nav_users');
    </script> 
    <div>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}  

