{% extends "index.html.twig" %}
{% block title %}Registration Page{% endblock%}
{% block content %}    
    <style>
        #register-form label{
            padding-top: 6px;
            height: 29px;
        }

        #register-form div{
            margin-top: 3px;
            margin-bottom: 3px;
        }

        #regSubmitContainer{
            text-align: center;
            margin-top: 10px;
        }
        #regSubmitButton{
            width:100px;
            height:34px;
        }
    </style>
    <div class="container" style="width:450px">
        <div>
            <form id="register-form" role="form" 
                  action="{{ path('_register') }}" method="POST">
                <h2 class="form-signin-heading">Register page</h2>
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Username:</label>
                    <div class="col-sm-7"> 
                        <input type="text" id="username" name="username" 
                               class="form-control" placeholder="Username" required="" autofocus=""/>
                    </div>
                </div>

                <div id="passwordDiv"  class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password:</label>
                    <div class="col-sm-7">
                        <input type="password" id="password" name="password" 
                               class="form-control" placeholder="Password" required=""/>
                    </div> 
                </div>
                <div class="form-group" id="confirmPasswordDiv">  
                    <label for="confirmPassword" class="col-sm-3 control-label">Confirm password:</label>
                    <div class="col-sm-7">
                        <input type="password" id="confirmPassword" name="confirmPassword" 
                               class="form-control" placeholder="Confirm password" required=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">E-mail:</label>
                    <div class="col-sm-7">
                        <input type="email" id="email" name="email" 
                               class="form-control" placeholder="Email" required="" autofocus="" data-type="email"/>
                    </div> 
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-3 control-label">Address:</label>
                    <div class="col-sm-7"> 
                        <input type="text" id="address" name="address"
                               class="form-control" placeholder="Address" required="" autofocus=""/>
                    </div>
                </div>
                <div id="pwdError" class="alert alert-danger col-sm-10" role="alert" style="display:none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Passwords should match.
                </div>
                <div id="regSubmitContainer" class="col-sm-10"> 
                    <button id="regSubmitButton" type="submit" class="btn btn-primary" 
                            style="" type="submit">Register</button>
                </div>
                
                {%if error != null%}
                    <div class="alert alert-danger col-sm-10" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{error}}
                    </div>
                {%endif%}
            </form>
        </div>
        <script>
            $('#register-form').on('submit', function () {
                if ($('#password').val() != $('#confirmPassword').val()) {
                    $('#passwordDiv').attr('class', 'form-group has-error');
                    $('#confirmPasswordDiv').attr('class', 'form-group has-error');
                    $('#pwdError').attr('style', 'margin-top: 10px;margin-bottom: 0px;');
                    return false;
                }

                $('#password').attr('class', 'form-control');
                $('#confirmPassword').attr('class', 'form-control');
                $('#pwdError').attr('style', 'display:none;');
                return true;
            });
        </script>
    </div>
{% endblock %} 
