<div>User details</div>
<br/>
<div>
    {%if user != null %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td> {{user.username}}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>
        </table>
       {{ user.idUserHash }}
    {%else%}
        <span class="alert alert-danger" role="alert">Error</span>
    {%endif%}
</div>