<div style=" margin:15px; border: 1px solid lightgrey;padding: 15px;">
    <form name="form" method="POST" action="/comments/add" role="form">
        <div id="form">
            <div class="form-group">
                <label class="control-label required" for="form_text">Text</label>
                <textarea id="form_text" name="text" required="required" class="form-control"></textarea>
            </div>
            {%if sellerId is defined %}
                <input type="hidden" name="sellerId" value="{{sellerId}}"/>
            {%endif%}
            {%if shoeId is defined %}
                <input type="hidden" name="shoeId" value="{{shoeId}}"/>
            {%endif%}
            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
