<div id="comments">
    {% for c in comments %}
        <div class="panel panel-default">
            <div class="panel-heading" id="panelheder" style="padding:0px;">user comments</div>
            <div class="panel-body" id="panelbody">
                {{c.text}}
            </div>
            <div class="panel-footer" id="panelfooter">
                <div style="float:left;">
                <span>on {{c.date|date('d.m.Y')}}</span><br/>                  
                </div>

            </div>
        </div>
    {% endfor %}  
    {{render(controller('CustomerBundle:Comments:add'))}}
</div>