{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}Categories{% endblock%}
{% block content %}
    <script>
        navigation('nav_categories');
    </script> 
    <h1>Categories creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_categories') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
