<style>
    *, *:before, *:after {box-sizing:  border-box !important;}


    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 

    }

    .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }

    .well {
        position:relative;
        display: block;
    }

    #shoes{
        width: 80%;
        margin-left: 50px;
    }
    .shoeName{
        color: #428bca;
    }
    .shoeYear{
        color:grey;
    }
    .shoePrice{
        color: darkred;
    }
</style>
<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "{{ asset('images/')}}shoe.jpg";
        image.width = 150;
        return true;
    }
</script>
<div id="statistics" class="left">
    <div class="row">
        {% for s in statistics %}
            <div>{{s.text}}</div>    
        {% endfor %}        
    </div>
</div>