<style>
    *, *:before, *:after {box-sizing:  border-box !important;}


    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 

    }

    .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }

    .well {
        position:relative;
        display: block;
    }

    #statistics{
        width: 80%;
        margin-left: 50px;
    }
    #panel{
        background-clip: content-box;
        background-color: lightgray;
        color:black;
        clear:both;
        text-axlign:left;
        padding:5px;   
    }
</style>

<div id="statistics" class="center">
    <div class="row">
        {% for s in statistics %}
            <div class="panel panel-default" id="panel">
                {{s.text}}
            </div>    
        {% endfor %}        
    </div>
</div>