{% extends "index.html.twig" %}
{% block title %}Statistics{% endblock%}
{% block content %}
    <script>
        navigation('nav_statistics');
    </script> 
    <div class="page_container">
        {{render(controller('CustomerBundle:Categories:list', {'categoryId' : app.request.get('categoryId')})) }}
        {% include "CustomerBundle:Statistics:list.html.twig" with statistics%}       
    </div>
{% endblock %}  
