{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}Edit shoe{% endblock%}
{% block content %}
    <script>
        navigation('nav_mailbox');
    </script> 
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);"> 
            <a href="{{ path('admin_mailbox') }}">
                Back to the list
            </a>
        </button>           
        <div>{{ form(delete_form) }}</div>
    </div>
    {{ form(edit_form) }}
{% endblock %}
